.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 78px;
  padding: 0 40px;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95); /* subtle white bg */
  position: relative;
  z-index: 10;
}

/* Logo */
.navbar-logo {
  width: 60px;   /* same as profile size */
  height: 60px;
  object-fit: contain;
  margin-left: 0; /* balanced with right padding */
}

/* Center Nav Links */
.navbar-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navbar-item {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2B756B;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.navbar-item.active {
  font-weight: 600;
}

.navbar-item::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #2B756B;
  transition: all 0.5s ease-in-out;
  transform: translateX(-50%);
}

.navbar-item:hover::after {
  width: 100%;
}

/* Right Section */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 0; /* balances with logo margin-left */
}

/* Search Icon */
.navbar-search-icon {
  width: 22px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.navbar-search-icon:hover {
  opacity: 0.7;
}
.navbar-search-container {
  position: relative;
}

/* Search Input */
.navbar-search {
  position: absolute;
  top: 50%;
  right: 35px;              /* appear left of profile */
  transform: translateY(-50%);
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease;
  width: 0;                 /* start hidden */
  opacity: 0;
  pointer-events: none;
}

.navbar-search:focus {
  border-color: #2B756B;
}
.navbar-search.active {
  width: 160px;
  opacity: 1;
  pointer-events: auto;
}


/* Profile */
.navbar-profile {
  position: relative;
  cursor: pointer;
}

.profile-pic {
  margin-top: 2px;
  width: 30px;   /* same size as logo */
  height: 30px;
  border-radius: 50%;
}

.profile-dropdown {
  position: absolute;
  top: 65px;
  right: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.profile-dropdown a {
  padding: 10px;
  text-decoration: none;
  color: #2B756B;
  font-weight: 500;
  font-family: 'Poppins';
}
.profile-dropdown button{
  padding: 10px;
  text-decoration: none;
  color: #2B756B;
  font-weight: 500;
  font-family: 'Poppins';
  font-size: 16px;
  border-radius: 20px;
  border: none;
  border: solid  #e0f0eb;
  background-color: #e0f0eb;

}

.profile-dropdown a:hover {
  background-color: #e0f0eb;
}
.navbar-welcome {
  margin: 0 10px;
  font-weight: 500;
  font-size: 17px;
  color: #2B756B; /* adjust if needed */
  display: flex;
  align-items: center;
  font-family: 'Poppins',sans-serif;
}

